.gigCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --black: #242424;
    --lightorange: #FF5722;
    ---darkorange: #CC4C4C;
    --green: #5ACB5E;
    --grey: #9A9A9A;
    --beige: #FFDEC7;
    background-color: var(--beige);
    border-radius: 3vh;
    width: 20vw;
    height: 20vh;
}

.gigCard ol {
    margin: 0;
    
}

.gigCard li {
    list-style-type: none;
}

.gigCard img {
   min-width: 7vh;
   min-height: 7vh;
   max-width: 7vh;
   max-height: 7vh;
   
}

.gigCardSub {
    bottom: 0;
    background-color: var(--lightorange);
    border-radius: 3vh;
    
  /*  flex-grow: 1;
    box-sizing: content-box;*/
}

.gigParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 5vh;
    row-gap: 5vh;
}

.title {
    color: var(--black);
}

.bigtitle {
    font-size: xx-large;
}

h1 .title {
    padding: 5vh;
}