
.gigCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --black: #242424;
    --lightorange: #ff5722;
    --darkorange: #cc4c4c;
    --green: #5acb5e;
    --grey: #9a9a9a;
    --beige: #ffdec7;
    background-color: var(--beige);
    border-radius: 3vh;
    width: 20vw;
    height: 20vh;
}

.gigCard:hover {
    width: 20vw;
    outline: 5px solid cyan;
    animation-name: example;
    animation-duration: 0.5s;
}

.gigCard ol {
    margin: 0;
}

.gigCard li {
    list-style-type: none;
}

.gigCard img {
    min-width: 7vh;
    min-height: 7vh;
    max-width: 7vh;
    max-height: 7vh;
    border-radius: 3vh;
}

.gigCardSub {
    bottom: 0;
    background-color: var(--lightorange);
    border-radius: 3vh;

    /*  flex-grow: 1;
    box-sizing: content-box;*/
}


.gigParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 5vh;
    row-gap: 5vh;
    margin-top: 100px;
}

.expansion {
    background-color: orangered;
    margin: 0;
    padding: 0;
}

  .card {    
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      background-color: orangered;
      padding:  5px 5px 5px 5px;
      border-radius: 10px;
    }
    .cardcontent{ /*smallercard*/
      background-color:rgb(253, 202, 188);
      border-radius: 10px;
      margin: 0;
      min-height: 197px;
    }
    .text > p {
      text-align: left;
      color:black;
      font: 20px;
      padding:  0px 10px 0px 10px;
    }


h1 .title {
    padding: 5vh;
}

.itemsfooter {
    margin-left: 3vh;
}

.itemsheader {
    margin-left: 11vh;
    padding-bottom: 3vh;
    display: flex;
    align-items: baseline;
}

.itemsheader button {
    margin-left: 1vh;
    color: white;
    background: grey;
}

.bookButton {
    color: white;
    background: grey;
}

.itemsheader ul {
    display: flex;
    flex-direction: column;
}

.itemsheader li {
    justify-content: space-between;
}

.monthParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.longMonthBox {
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    height: 50vh;
    background-color: #ff5722;
    margin: 1.5vw;
    max-width: 25vh;
    min-width: 25vh;
}

.month {
    max-width: 100%;
    background-color: white;
    border: 2px solid black;
    padding: 0.5vw;
    color: #242424;
    position: relative;
    text-align: center;
}

.gigDates {
    background-color: white;
    margin-bottom: 0.6vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 0.5vh;
    border: solid black 2px;
}

.gigDates:hover {
    cursor: pointer;
    border: solid black 4px;
}

.gigDatesInner {
    color: black;
}

.gigDatesIBooked {
    background-color: black;
    color: orange;
    margin-bottom: 0.6vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 0.5vh;
    border: solid black 2px;
}

.gigDatesICreated {
    background-color: --var(--darkorange);
    margin-bottom: 0.6vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 0.5vh;
    border: solid black 2px;
}


.upArrow {
    display: flex;
    margin-bottom: auto;
    justify-content: center;
}
.downArrow {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.ycomponents {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 4.vw;
}

.year {
    position: relative;
    font-size: x-large;
    bottom: 0.4vh;
    border: 2px solid black;
    background-color: white;
    color: black;

    padding-left: 1vw;
    padding-right: 1vw;
}

.yarrow {
    padding-left: 2vh;
    padding-right: 2vh;
}

.gigDatesIBookedInner {
    --background-color: black;
    color: orange;
}

.gigDatesICreatedInner {
    color: black;
}


.gigDay {
    color: black;
    padding-right: 1vw;
}


.gigType {
    color: black;
    padding-right: 1vw;
}

.gigPostCode {
    color: black;
}

.gigImage {
    bottom: 5px;
    height: 2vh;
    padding-left: 0vh;
}

.bookingData {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid grey;
    background-color: lightgrey;
}

.bookingData ul {
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 0vh 2vh 0vh;
    border: 1px solid grey;
    padding: 3vh;
    background-color: grey;
    border: 1px solid black;
}

.bookingData li {
    list-style: none;

}

.bookingData text {
    margin-left: 0.5vw;
    color: orange;
}

    .text > p > data {
      color:brown
    }
    
    .cardTitleImage {
      display: flex;
      align-items: left;
    }
  
    .cardTitleImage > img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
    }
    .cardTitleImage > p {
      width: 250px;
      display:flex;
      justify-content: left;
      padding-left: 40px;
      padding-right: 20px;
      color: black;
      font-size: 18px;
      font-weight: bold;
      text-decoration-line: underline;
    }
  
    .cardisHovering > p {
      font-weight: bold;
      font-size: 19px;
      text-decoration-line: underline;
      color:black;
    }
    .additional {
      text-align: left;
    }
  
    .additional > p {
      color: black;
      font-size: 18px;
    }
  
    .additional > p > b {
      color: rgb(38, 39, 68);
      font-size: 18px;
    }
