.management {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;;
  gap: 20px;
}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-width: 10px;
  border-color: antiquewhite;
}

.options {
  width: 50%;
  border: none;
}

.options:hover {
  border-bottom: #ff5722 solid 5px;
}

.clicked {
  width: 50%;
  border: none;
  border-bottom: #ff5722 solid 5px;
}