.gigCard {
    --black: #242424;
    --lightorange: #FF5722;
    ---darkorange: #CC4C4C;
    --green: #5ACB5E;
    --grey: #9A9A9A;
    --beige: #FFDEC7;

    background-color: var(--beige);
    border-radius: 3vh;
}

.gigCard ol {
    margin: 0;
}

.gigCard img {
   display: relative;
   width: 30%;
   min-width:100px;
   max-width: 350px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}

.gigCardSub {
    background-color: var(--lightorange);
    border-radius: 3vh;
    margin: 0;
}

.gigParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 5vh;
    row-gap: 5vh;
}

.title {
    color: var(--black);
}

.bigtitle {
    font-size: xx-large;
}

h1 .title {
    padding: 5vh;
}
