.container {
  text-align: center;
  /* background-color: rgb(185, 255, 255);  */
  /* background-color: 	rgb(220, 254, 254); */
  /* background-color: 	rgb(246, 255, 255); */
  background-color: rgb(30, 29, 29);
  height: 100%;
  min-height:100%;
}

.header{
  width: 100%;
  height: 30%;
}

.main{
  width: 100%;
  min-height: 70%;
}

.aboutusside {
  background-image: url('/guitarist.jpg');
  margin: 0;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aboutus {
  font-size: 90px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-stroke: 1px black;
}

.brief {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
  max-width: 60vw;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* text-decoration: underline black;  */
}

.firstpara {
display: flex;
height: 33%;
flex-direction: row;
border-top:3px solid orangered;
/* background-color: 	rgb(185, 255, 255); */
/* background-color: 	rgb(246, 255, 255); */
background-color: rgb(30, 29, 29);
}

.imgonebckgrnd{
  width: 50%;
  margin-left: auto;
  background-image: url('/trumpet.jpg');
  border-radius: 1000px 0 0 0;
  background-size: cover;
  background-position: center;
}

.secondpara {
  display: flex;
  height: 33%;
  flex-direction: row;
  border-top:5px solid orangered;
  /* background-color: rgb(185, 255, 255); */
  /* background-color: 	rgb(220, 254, 254); */
  /* background-color: 	rgb(246, 255, 255); */
  background-color: rgb(30, 29, 29);
}

.imgtwobckgrnd{
  width: 50%;
  margin-right: auto;
  background-image: url('/drums.jpg');
  border-radius: 1000px 0 0 0;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
}

.thirdpara {
    display: flex;
    height: 33%;
    flex-direction: row; 
    /* background-color: rgb(185, 255, 255); */
    /* background-color: 	rgb(220, 254, 254); */
    /* background-color: 	rgb(246, 255, 255); */
    background-color: rgb(30, 29, 29);
    border-top:5px solid orangered;
    border-bottom:10px solid orangered;
}

.imgthreebckgrnd{
  width: 50%;
  margin-right: auto;
  background-image: url('/band.jpg');
  border-radius: 1000px 0 0 0;
  background-size: cover;
  background-position: center;
  margin-right:0;
}


.info {
  padding: 30px 0;
  font-size: 26px;
  font: Helvetica;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 22vw;
  text-align: left;
  display: flex;
  align-items: center;
} 


/* 
@media screen and (max-width: 480px) {
  .aboutus {
    font-size: 16px;
    position:relative;
    left: 5vh;
    right: 30vh;
  }
}
 */